*  {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.container {
    margin: 30px;
    display: flex;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.qwe {
    justify-content: space-between;
    color: red;
    margin: 10px;
    background-color: aqua;
}
table {
    border: 2px;
    border-color: black;
    text-align: center;
}
table th {
    font-weight: 500;
}
table th td {
    text-align: center;
}